<nz-table
  #table
  nzSize="middle"
  nzOuterBordered
  [nzData]="transactionState.data()"
  [nzFrontPagination]="true"
  [nzShowPagination]="true"
  [nzTotal]="transactionState.total()"
  [nzPageSize]="pageSize"
  [nzPageIndex]="pageIndex"
>
  <thead>
    <tr>
      <th [nzSortFn]="true">Code ISIN</th>
      <th [nzSortFn]="true">Emetteur</th>
      <th [nzSortFn]="true">Type d'action</th>
      <th [nzSortFn]="true">Date d'émission</th>
      <th [nzSortFn]="true">Date d'échéance</th>
      <th [nzSortFn]="true">Dividendes</th>
      <th [nzSortFn]="true">Intérêts</th>
      <th nzWidth="70px"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of table.data">
      <td>
        <app-tag [value]="data.code_isin" />
      </td>
      <td>{{ data.emetteur }}</td>
      <td>{{ data.type_action }}</td>
      <td>{{ data.date_emission | date : "mediumDate" }}</td>
      <td>{{ data.date_echeance | date : "mediumDate" }}</td>
      <td>
        <app-tag [value]="data.dividende + '%'" />
      </td>
      <td>
        <app-tag [value]="data.interet + '%'" />
      </td>
      <td>
        <button
          class="bg-transparent border-0 shadow-none"
          nz-button
          (click)="completer()"
        >
          <span class="mr-2" nz-icon nzType="edit"></span>
          Compléter
        </button>
      </td>
    </tr>
  </tbody>
</nz-table>
