<form nz-form [nzLayout]="'vertical'" [formGroup]="form">
  <nz-card
    nzType="inner"
    [nzTitle]="'Information sur la transaction'"
    class="mb-4"
  >
    <nz-form-item class="w-full">
      <nz-form-label nzRequired>Code ISIN</nz-form-label>
      <nz-form-control>
        <input nz-input formControlName="code_isin" id="code_isin" />
      </nz-form-control>
    </nz-form-item>

    <div class="flex justify-between gap-5">
      <nz-form-item class="w-full">
        <nz-form-label nzRequired>Émetteur</nz-form-label>
        <nz-form-control nzErrorTip="Veuillez choisir l'émetteur !">
          <nz-select nz-input formControlName="emetteur">
            <nz-option
              *ngFor="let o of emetteurs"
              [nzLabel]="o"
              [nzValue]="o"
            ></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item class="w-full">
        <nz-form-label nzRequired>Type d'action</nz-form-label>
        <nz-form-control nzErrorTip="Veuillez choisir le type de l'action !">
          <nz-select nz-input formControlName="type_action">
            <nz-option
              *ngFor="let o of type_actions"
              [nzLabel]="o"
              [nzValue]="o"
            ></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item class="w-full">
        <nz-form-label nzRequired>Quantité</nz-form-label>
        <nz-form-control nzErrorTip="Veuillez saisir la quantité !">
          <nz-input-number
            class="w-full"
            formControlName="quantite"
            [nzMin]="1"
            nz-input
          />
        </nz-form-control>
      </nz-form-item>
    </div>

    <div class="flex justify-between gap-5">
      <nz-form-item class="w-full">
        <nz-form-label nzRequired>Date d'émission</nz-form-label>
        <nz-form-control nzErrorTip="Veuillez saisir la date d'émission !">
          <nz-date-picker
            class="w-full"
            formControlName="date_emission"
          ></nz-date-picker>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item class="w-full">
        <nz-form-label nzRequired>Date d'échéance</nz-form-label>
        <nz-form-control nzErrorTip="Veuillez saisir la date d'écheance !">
          <nz-date-picker
            class="w-full"
            formControlName="date_echeance"
          ></nz-date-picker>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div class="flex justify-between gap-5">
      <nz-form-item class="w-full">
        <nz-form-label nzRequired>Dividendes</nz-form-label>
        <nz-form-control nzErrorTip="Veuillez les dividendes !">
          <nz-input-number
            class="w-full"
            formControlName="dividende"
            [nzMin]="0"
            [nzMax]="100"
            nz-input
            [nzFormatter]="percentFormatter"
          />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item class="w-full">
        <nz-form-label nzRequired>Intérêts</nz-form-label>
        <nz-form-control nzErrorTip="Veuillez les intérêts !">
          <nz-input-number
            class="w-full"
            formControlName="interet"
            [nzMin]="0"
            [nzMax]="100"
            nz-input
            [nzFormatter]="percentFormatter"
          />
        </nz-form-control>
      </nz-form-item>
    </div>
  </nz-card>

  <nz-card
    nzType="inner"
    [nzTitle]="'Dépositaire pour demande d\'inscription'"
    class="mb-4"
  >
    <div class="flex justify-between gap-5">
      <nz-form-item class="w-full">
        <nz-form-label nzRequired>Dépositaire inscription</nz-form-label>
        <nz-form-control
          nzErrorTip="Veuillez choisir le dépositaire d'inscription !"
        >
          <nz-select nz-input formControlName="depositaire_inscription">
            <nz-option
              *ngFor="let o of depositaires"
              [nzLabel]="o"
              [nzValue]="o"
            ></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item class="w-full">
        <nz-form-label nzRequired>Exclusif</nz-form-label>
        <nz-form-control nzErrorTip="Veuillez choisir Oui / Non !">
          <nz-select nz-input formControlName="exclusif">
            <nz-option
              *ngFor="let o of exclusifs"
              [nzLabel]="o"
              [nzValue]="o"
            ></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item></div
  ></nz-card>

  <nz-card
    nzType="inner"
    [nzTitle]="'Dépositaire demande de radiation'"
    class="mb-4"
  >
    <nz-form-item class="w-full">
      <nz-form-label nzRequired>Dépositaire radiation</nz-form-label>
      <nz-form-control
        nzErrorTip="Veuillez choisir le dépositaire de radiation !"
      >
        <nz-select nz-input formControlName="depositaire_radiation">
          <nz-option
            *ngFor="let o of depositaires"
            [nzLabel]="o"
            [nzValue]="o"
          ></nz-option>
        </nz-select>
      </nz-form-control> </nz-form-item
  ></nz-card>
</form>

<div *nzModalFooter>
  <button nz-button nzType="default" (click)="onCancel()" class="mr-1">
    Annuler
  </button>

  <button nz-button nzType="primary" (click)="onSave()" [nzLoading]="loading()">
    Sauvegarder
  </button>
</div>
